services:
  app:
    build:
      context: ./services/php/
      dockerfile: ${DOCKER_ENV:-dev}.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION:-8.3}
        - NODE_VERSION=${NODE_VERSION:-16}
        - ELASTIC_APM_URL=${ELASTIC_APM_URL:-}
        - ELASTIC_APM_SECRET=${ELASTIC_APM_SECRET:-}
        - ELASTIC_APM_SERVICE_NAME=${ELASTIC_APM_SERVICE_NAME:-}
        - ELASTIC_APM_ENV=${ELASTIC_APM_ENV:-}
    environment:
      - TZ=Europe/London
    ports:
      - :9000
    volumes:
      - .:/var/www/html
    networks:
      - traefik
  web:
    build:
      context: ./services/nginx/
      dockerfile: ${DOCKER_ENV:-dev}.Dockerfile
    volumes:
      - .:/var/www/html
    environment:
      - TZ=Europe/London
    labels:
        - "traefik.enable=true"
        - "traefik.http.middlewares.${PROJECT_NAME}_https.redirectscheme.scheme=https"
        - "traefik.http.routers.${PROJECT_NAME}.entrypoints=web"
        - "traefik.http.routers.${PROJECT_NAME}.rule=Host(`${PROJECT_BASE_URL}`)"
        - "traefik.http.routers.${PROJECT_NAME}.middlewares=${PROJECT_NAME}_https@docker"
        - "traefik.http.routers.${PROJECT_NAME}_https.rule=Host(`${PROJECT_BASE_URL}`)"
        - "traefik.http.routers.${PROJECT_NAME}_https.tls=true"
        - "traefik.http.routers.${PROJECT_NAME}_https.entrypoints=websecure"
        - "traefik.http.services.${PROJECT_NAME}_https.loadbalancer.server.port=80"
    links:
      - app
    networks:
      - traefik
  # cron:
  #   build:
  #     context: ./services/cron/
  #     dockerfile: ${DOCKER_ENV:-dev}.Dockerfile
  #     args:
  #       - PROJECT_BASE_URL=${PROJECT_BASE_URL:-berrys.local}
  #   environment:
  #     - TZ=Europe/London
  #     - BASEURL=${PROJECT_BASE_URL}
  #   restart: unless-stopped
  #   networks:
  #     - traefik
  worker:
    build:
      context: ./services/php/
      dockerfile: ${DOCKER_ENV:-dev}.Dockerfile
      args:
        - PHP_VERSION=${PHP_VERSION:-8.3}
        - NODE_VERSION=${NODE_VERSION:-16}
    environment:
      - TZ=Europe/London
    command: php /var/www/html/artisan schedule:work
    restart: unless-stopped
    volumes:
      - .:/var/www/html
    networks:
      - traefik
networks:
  traefik:
    external: true